@model FirmaAdvocacia.ViewModels.ProcessoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Processo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Processo.Tipo" class="control-label"></label>
                <input asp-for="Processo.Tipo" class="form-control" />
                <span asp-validation-for="Processo.Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo.Descricao" class="control-label"></label>
                <input asp-for="Processo.Descricao" class="form-control" />
                <span asp-validation-for="Processo.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Processo.DataAbertura" class="control-label"></label>
                <input asp-for="Processo.DataAbertura" class="form-control" />
                <span asp-validation-for="Processo.DataAbertura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Clientes do Processo</label>
                <select asp-for="ClientesSelecionados"
                        asp-items="Model.ListaCliente"
                        class="form-control"
                        multiple>
                </select>
                <span asp-validation-for="ClientesSelecionados" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Advogados do Processo</label>
                <select asp-for="AdvogadosSelecionados"
                        asp-items="Model.ListaAdvogado"
                        class="form-control"
                        multiple>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
